In [5]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [ ]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-11-13 21:04:22--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-11-13 21:04:22 (6.50 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

# Configure settings for RDS
jdbc_url="jdbc:postgresql://datavizm16.cyekg13tmsth.us-east-2.rds.amazonaws.com:5432/postgres"

from config import config
config = {"user":"postgres", 
          "password": config, 
          "driver":"org.postgresql.Driver"}
# print(config)

In [8]:
df = spark.read.jdbc(url=jdbc_url, table='customer_churn', properties=config)
df.show()

In [10]:
import pandas as pd
df = df.toPandas()
df.head()

   customerid  gender seniorcitizen  ... monthlycharges totalcharges churn
0  7590-VHVEG  Female             0  ...          29.85        29.85    No
1  5575-GNVDE    Male             0  ...          56.95      1889.50    No
2  3668-QPYBK    Male             0  ...          53.85       108.15   Yes
3  7795-CFOCW    Male             0  ...          42.30      1840.75    No
4  9237-HQITU  Female             0  ...          70.70       151.65   Yes

[5 rows x 21 columns]

In [13]:
df.describe

<bound method NDFrame.describe of       customerid  gender seniorcitizen  ... monthlycharges totalcharges churn
0     7590-VHVEG  Female             0  ...          29.85        29.85    No
1     5575-GNVDE    Male             0  ...          56.95      1889.50    No
2     3668-QPYBK    Male             0  ...          53.85       108.15   Yes
3     7795-CFOCW    Male             0  ...          42.30      1840.75    No
4     9237-HQITU  Female             0  ...          70.70       151.65   Yes
...          ...     ...           ...  ...            ...          ...   ...
7038  6840-RESVB    Male             0  ...          84.80      1990.50    No
7039  2234-XADUH  Female             0  ...         103.20      7362.90    No
7040  4801-JZAZL  Female             0  ...          29.60       346.45    No
7041  8361-LTMKD    Male             1  ...          74.40       306.60   Yes
7042  3186-AJIEK    Male             0  ...         105.65      6844.50    No

[7043 rows x 21 columns]>