In [103]:
import warnings
warnings.filterwarnings('ignore')

In [104]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Import our input dataset
file_path = "Resources/WA_Fn-UseC_-Telco-Customer-Churn.csv"
df = pd.read_csv(file_path)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [105]:
cat = df.dtypes[df.dtypes == "object"].index.tolist()
df[cat].nunique()

customerID          7043
gender                 2
Partner                2
Dependents             2
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
TotalCharges        6531
Churn                  2
dtype: int64

## Preprocessing DataFrame

In [106]:
df.set_index('customerID', inplace=True)

valid_charges = df['TotalCharges'] != " "
df = df.loc[valid_charges]

df["TotalCharges"] = pd.to_numeric(df["TotalCharges"])

df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
customerID,,,,,,,,,,,,,,,,,,,,
7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [107]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [108]:
df_cat = df.dtypes[df.dtypes == "object"].index.tolist()

df.reset_index(inplace=True, drop=True)

### OneHotEncoder

In [109]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[df_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(df_cat)
encode_df.head()

,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,MultipleLines_No,MultipleLines_No phone service,...,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_No,Churn_Yes
0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [110]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(df_cat,1)
df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_No,Churn_Yes
0,0,1,29.85,29.85,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0,34,56.95,1889.50,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0,2,53.85,108.15,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0,45,42.30,1840.75,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0,2,70.70,151.65,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

### X_train, X_test, y_train, y_test

In [111]:
# Split our preprocessed data into our features and target arrays
y = df["Churn_Yes"].values
X = df.drop(["Churn_Yes","Churn_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

### StandardScaler

In [112]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Deep Learning Model

In [116]:
# Define the model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=50, input_dim=45, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_12"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_48 (Dense)             (None, 50)                2300
_________________________________________________________________
dense_49 (Dense)             (None, 20)                1020
_________________________________________________________________
dense_50 (Dense)             (None, 10)                210
_________________________________________________________________
dense_51 (Dense)             (None, 1)                 11
=================================================================
Total params: 3,541
Trainable params: 3,541
Non-trainable params: 0
_________________________________________________________________

In [119]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="SGD", metrics=["accuracy"])

fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
165/165 [==============================] - 1s 2ms/step - loss: 0.3994 - accuracy: 0.8129
Epoch 2/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3985 - accuracy: 0.8134
Epoch 3/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3981 - accuracy: 0.8127
Epoch 4/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3970 - accuracy: 0.8155
Epoch 5/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3965 - accuracy: 0.8129
Epoch 6/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3959 - accuracy: 0.8142
Epoch 7/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8130
Epoch 8/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3948 - accuracy: 0.8148
Epoch 9/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3942 - accuracy: 0.8161
Epoch 10/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3933 - accuracy: 0.8138
Epoch 11/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3929 - accuracy: 0.8163
Epoch 12/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3924 - accuracy: 0.8159
Epoch 13/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3919 - accuracy: 0.8151
Epoch 14/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3910 - accuracy: 0.8191
Epoch 15/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3907 - accuracy: 0.8185
Epoch 16/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3903 - accuracy: 0.8163
Epoch 17/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3892 - accuracy: 0.8178
Epoch 18/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3890 - accuracy: 0.8174
Epoch 19/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3884 - accuracy: 0.8199
Epoch 20/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3877 - accuracy: 0.8191
Epoch 21/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3872 - accuracy: 0.8189
Epoch 22/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3873 - accuracy: 0.8184
Epoch 23/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3861 - accuracy: 0.8218
Epoch 24/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3857 - accuracy: 0.8218
Epoch 25/50
165/165 [==============================] - 0s 1ms/step - loss: 0.3850 - accuracy: 0.8221
Epoch 26/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3848 - accuracy: 0.8231
Epoch 27/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3841 - accuracy: 0.8231
Epoch 28/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3840 - accuracy: 0.8218
Epoch 29/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3834 - accuracy: 0.8218
Epoch 30/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3826 - accuracy: 0.8221
Epoch 31/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3820 - accuracy: 0.8204
Epoch 32/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3816 - accuracy: 0.8208
Epoch 33/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3806 - accuracy: 0.8227
Epoch 34/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3805 - accuracy: 0.8237
Epoch 35/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3800 - accuracy: 0.8233
Epoch 36/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3785 - accuracy: 0.8227
Epoch 37/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3788 - accuracy: 0.8233
Epoch 38/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3784 - accuracy: 0.8231
Epoch 39/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3777 - accuracy: 0.8244
Epoch 40/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3768 - accuracy: 0.8254
Epoch 41/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3769 - accuracy: 0.8252
Epoch 42/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3762 - accuracy: 0.8235
Epoch 43/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3756 - accuracy: 0.8269
Epoch 44/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3757 - accuracy: 0.8256
Epoch 45/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3747 - accuracy: 0.8259
Epoch 46/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3744 - accuracy: 0.8259
Epoch 47/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3737 - accuracy: 0.8267
Epoch 48/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3728 - accuracy: 0.8257
Epoch 49/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3725 - accuracy: 0.8269
Epoch 50/50
165/165 [==============================] - 0s 2ms/step - loss: 0.3712 - accuracy: 0.8269

In [120]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

55/55 - 0s - loss: 0.4323 - accuracy: 0.8015
Loss: 0.4322565793991089, Accuracy: 0.8014789819717407